body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
    
li {
    float: left;
}
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
  
li a:hover {
    background-color: #111;
}
  
h1 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    background-color: black;
}

@media (max-width: 425px) {
    
}