ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}
    
li {
  float: left;
}
    
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
  
li a:hover {
  background-color: #111;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  
header {
  text-align: center;
}
  
header h4 {
  padding-left: 25px;
  padding-right: 25px;
}

p {
  text-align: center;
}

div {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

div img {
  width: 50px;
  height: 50px;
}

@media (max-width: 425px) {
  div {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

footer {
  background-color: black;
}